body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f8fc;
    margin: 0;
    padding: 20px;
    color: #333;
}

.container {
    max-width: 700px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.add-page-header {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007BFF;
    margin-left: 20px;
}

.post-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post-form label {
    font-weight: 600;
    color: #444;
}

.post-form textarea,
.post-form input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}

.price-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px; /* или 100%, если нужно адаптивно */
    box-sizing: border-box;
}

.submit-btn {
    align-self: flex-end;
    background: linear-gradient(135deg, #007BFF, #37a9b5);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background: linear-gradient(135deg, #234380, #668cff);
}