<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Корзина товаров</title>
</head>

<body>
<a href="/orders" style="float:right;">
    <b>ЗАКАЗЫ &cudarrr;</b>
</a>
<a href="/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="itemsRow : ${items}" class="item">
        <td th:each="item : ${itemsRow}">
            <table>
                <tr>
                    <td>
                        <a th:href="${'/items/'+item.getId()}">
                            <img width="300" th:src="@{'http://localhost:8080/items/images/'+ ${item.getId()}}"
                                 alt="Item image">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b th:text="${item.getName()}"></b>
                    </td>
                    <td>
                        <b th:text="${item.getReadablePrice()}"></b>
                    </td>
                </tr>
                <tr>
                    <td th:text="${item.getTextPreview()}"></td>
                </tr>
                <tr>
                    <td>
                        <form th:action="${'/items/'+item.getId()}" method="post">
                            <input type="hidden" name="source" value="cart/items"/>
                            <button name="action" value="minus">-</button>
                            <span th:text="${quantities[item.getId()] != null ? quantities[item.getId()] : 0}"></span>
                            <button name="action" value="plus">+</button>
                            <button name="action" value="delete" style="float:right;">&cross;</button>
                        </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <b th:text="'Итого: '+${total}"></b>
        </td>
    </tr>
    <tr>
        <td style="text-align:right">
            <form action="/cart/buy" method="post">
                <button th:disabled="${total.equals('0 тг.')}">Купить</button>
            </form>
        </td>
    </tr>
</table>
</body>

</html>