<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Заказы</title>
</head>

<body>
<a href="/cart/items" style="float:right;">
    <b>КОРЗИНА &cudarrr;</b>
</a>
<a href="/items" style="float:right;">
    <b>ГЛАВНАЯ &cudarrr;</b>
</a>
<table style="width:70%;margin-left:auto;margin-right:auto;">
    <tr th:each="order : ${orders}">
        <td>
            <h2>
                <a th:text="${order.getName()}" th:href="${'/orders/'+order.getId()}"></a>
            </h2>
            <table>
                <tr th:each="item : ${order.getItems()}">
                    <td th:text="${item.getItem().getName() +' ('+item.getQuantity()+' шт.) '
                     + (item.getReadablePriceByQuantity())}"></td>
                </tr>
            </table>
            <p>
                <b th:text="${'Сумма: '+order.getTotalPrice()}"></b>
            </p>
        </td>
    </tr>
</table>
</body>

</html>