<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Корзина товаров</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/cart.css}">
</head>

<body>
<div class="cart-header">
    <a href="/items"><b>ГЛАВНАЯ &cudarrr;</b></a>
    <a href="/orders"><b>ЗАКАЗЫ &cudarrr;</b></a>
</div>

<div class="cart-container" th:each="itemsRow : ${items}">
    <div class="cart-item" th:each="item : ${itemsRow}">
        <a th:href="${'/items/'+item.getId()}">
            <img class="cart-item-image" th:src="@{'http://localhost:8080/items/images/'+ ${item.getId()}}" alt="Item image">
        </a>
        <div class="cart-item-info">
            <div class="cart-item-title" th:text="${item.getName()}"></div>
            <div class="cart-item-price" th:text="${item.getReadablePrice()}"></div>
            <div class="cart-item-description" th:text="${item.getTextPreview()}"></div>
            <form th:action="${'/cart/'+item.getId()}" method="post" class="cart-item-actions">
                <input type="hidden" name="source" value="cart/items"/>

                <div class="quantity-actions">
                    <button name="action" value="minus">−</button>
                    <span th:text="${quantities[item.getId()] != null ? quantities[item.getId()] : 0}"></span>
                    <button name="action" value="plus">+</button>
                </div>

                <button name="action" value="delete" class="delete-btn">&times;</button>
            </form>

        </div>
    </div>
</div>

<div class="cart-summary">
    <div class="cart-total">
        <b th:text="'Итого: ' + ${total}"></b>
    </div>
    <form action="/cart/buy" method="post">
        <button class="buy-btn" th:disabled="${total.equals('0 тг.')}">Купить</button>
    </form>
</div>

</body>

</html>